@font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-stretch: 100%;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVI.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

body 
{
      padding: 0;
      margin: 0;
      background-color: hsl(0, 0%, 10%);
      overflow: hidden;
      font-family: ;
}

.container{
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      border-bottom: 1px solid rgba(255, 255, 255, 0.219);
}
.topBar{
      display: flex;
      width: 50%;
      justify-content: space-evenly;
      
}

.header{
      width: 100%;
      padding: 0.1em;
      font-size: 5em;
      color: white;
}

#inputValue{

      margin: 3em;
      background-color: #44c76700;
      border: 0px;
      border-bottom: 1px solid white;
      color: white;
}

#inputValue::placeholder{
      content: "hello";
}


.button {
	background-color:#44c76700;
      border: 0px;
      color: rgb(255, 255, 255);
      padding: 2em;
      transition: 1s;
}

.button:hover{
      text-decoration: underline;
      transition: 1s;
}

        
        